version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
       - "BOT_TOKEN=${BOT_TOKEN}"
       - "OWN_ID=${OWN_ID}"
       - "RCLONE_CONFIG=${RCLONE_CONFIG}"
